.app {
  background-image: url("assets/img/dot.svg"), url("assets/img/dot_rotated.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 250px, 350px;

  background-position: left 400px top 0px, right 250px bottom 0px;
}
